body {
  background-color: #203e50; 
  overflow-y: auto;
}

.topnav {
    position: sticky;
    overflow: hidden;
    top: 0;
    left: 0;
    
  }

  .topnav .codes{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .topnav .active {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .header{
    position: relative;
  }

  .title {
    position: absolute;
    font-size: 3.5em;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(207, 207, 207);
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
  }

  .smallTitle {
    position: absolute;
    font-size: 1.8em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(243, 241, 241);
    font-family: "Sura", serif;
    font-weight: 400;
    font-style: normal;
  }

  .dupli{
    position: absolute;
    width: 20%;
    height: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .list {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .theDis {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #ebb0b0;
    font-size: 1.7em;
  }

  .short {
    color: aliceblue;
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 1.1em;
  }

  li a {
    color: rgb(235, 234, 182);
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 1.1em;
    text-decoration: none;
    text-align: justify;
  }

  .list li{
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
  }

  .list li::marker{
    color: rgb(235, 234, 234);
  }

  .list li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: rgb(255, 255, 255); 
    transition: width 0.3s ease; 
  }

  .list li:hover::after {
    left: 20px;
    width: 80px;
  }
 
  .titleCom {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #ebb0b0;
    font-size: 1.7em;
  }

  .comments {
    position: absolute;
    top: 200%;
    left: 52%;
    transform: translate(-50%, -50%);
  }

 .coms1 {
  font-style: italic;
  color: rgb(185, 185, 185);
  font-family: "Tauri", sans-serif;
  font-weight: 50;
  font-size: 1.1em;
 }

 .coms1 {
  border-left: 3px solid #ffffff;
  padding-left: 10px;
 }

 .coms2 {
  text-align: justify;
  margin-top: 60px;
  color: rgb(255, 255, 255);
  font-family: "Tauri", sans-serif;
  font-weight: normal;
  font-size: 1.1em;
 }

 .exam1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #b1eedc;
  font-size: 1.3em;
 }

 .code-wrapper {
  position: relative;
}

.code-wrapper pre {
  border-radius: 40px;
  background-color: #202020;
  color: white;
  padding: 8px 10px;
  border-radius: 0 0 5px 5px;
}

#copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 7px;
  background-color: #1f4287;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  opacity: 0;
}

#copy-button:hover {
  background-color: #1f428790;
}

.code-wrapper:hover #copy-button {
  opacity: 1;
}

#copy-success {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #adb4c0;
  color: white;
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 5px;
  display: none;
}

#copy-success.show-message {
  display: inline-block;
}

.hljs {
  background-color: transparent;
}

.duplicate {
  position: absolute;
  top: 420%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.titleDu {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #ebb0b0;
  font-size: 1.7em;
}

.dupli1 {
  font-style: italic;
  color: rgb(185, 185, 185);
  font-family: "Tauri", sans-serif;
  font-weight: 50;
  font-size: 1.1em;
}

.dupli1 {
  border-left: 3px solid #ffffff;
  padding-left: 10px;
}

.lazy {
  position: absolute;
  top: 635%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.data {
  position: absolute;
  top: 840%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.dead {
  position: absolute;
  top: 1075%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.general {
  position: absolute;
  top: 1370%;
  left: 52%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1440px){
  .topnav .codes{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .topnav .active {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .header{
    position: relative;
  }

  .title {
    position: absolute;
    font-size: 3.5em;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(207, 207, 207);
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
  }

  .smallTitle {
    position: absolute;
    font-size: 1.8em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(243, 241, 241);
    font-family: "Sura", serif;
    font-weight: 400;
    font-style: normal;
  }

  .dupli{
    position: absolute;
    width: 20%;
    height: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .list {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .theDis {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #ebb0b0;
    font-size: 1.7em;
  }

  .short {
    color: aliceblue;
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 1.1em;
  }

  li a {
    color: rgb(235, 234, 182);
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 1.1em;
    text-decoration: none;
    text-align: justify;
  }

  .list li{
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
  }

  .list li::marker{
    color: rgb(235, 234, 234);
  }

  .list li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: rgb(255, 255, 255); 
    transition: width 0.3s ease; 
  }

  .list li:hover::after {
    left: 20px;
    width: 80px;
  }
 
  .titleCom {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #ebb0b0;
    font-size: 1.7em;
  }

  .comments {
    position: absolute;
    top: 215%;
    left: 52%;
    transform: translate(-50%, -50%);
  }

 .coms1 {
  font-style: italic;
  color: rgb(185, 185, 185);
  font-family: "Tauri", sans-serif;
  font-weight: 50;
  font-size: 1.1em;
 }

 .coms1 {
  border-left: 3px solid #ffffff;
  padding-left: 10px;
 }

 .coms2 {
  text-align: justify;
  margin-top: 60px;
  color: rgb(255, 255, 255);
  font-family: "Tauri", sans-serif;
  font-weight: normal;
  font-size: 1.1em;
 }

 .exam1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #b1eedc;
  font-size: 1.3em;
 }

 .code-wrapper {
  position: relative;
}

.code-wrapper pre {
  border-radius: 40px;
  background-color: #202020;
  color: white;
  padding: 8px 10px;
  border-radius: 0 0 5px 5px;
}

#copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 7px;
  background-color: #1f4287;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  opacity: 0;
}

#copy-button:hover {
  background-color: #1f428790;
}

.code-wrapper:hover #copy-button {
  opacity: 1;
}

#copy-success {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #adb4c0;
  color: white;
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 5px;
  display: none;
}

#copy-success.show-message {
  display: inline-block;
}

.hljs {
  background-color: transparent;
}

.duplicate {
  position: absolute;
  top: 455%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.titleDu {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #ebb0b0;
  font-size: 1.7em;
}

.dupli1 {
  font-style: italic;
  color: rgb(185, 185, 185);
  font-family: "Tauri", sans-serif;
  font-weight: 50;
  font-size: 1.1em;
}

.dupli1 {
  border-left: 3px solid #ffffff;
  padding-left: 10px;
}

.lazy {
  position: absolute;
  top:  690%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.data {
  position: absolute;
  top: 930%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.dead {
  position: absolute;
  top: 1195%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.general {
  position: absolute;
  top: 1520%;
  left: 52%;
  transform: translate(-50%, -50%);
}

}

  @media (max-width: 952px){
    .topnav {
      position: sticky;
      overflow: hidden;
      top: 0;
      left: 0; 
    }
  
    .topnav .codes{
      color: #f2f2f2;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 12px;
      font-family: "Balsamiq Sans", sans-serif;
      font-weight: normal;
      font-style: normal;
    }
    
    .topnav .active {
      color: #f2f2f2;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 12px;
      font-family: "Balsamiq Sans", sans-serif;
      font-weight: normal;
      font-style: normal;
    }
  
    .header{
      position: relative;
    }
  
    .title {
      position: absolute;
      font-size: 2em;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(207, 207, 207);
      font-family: "Play", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-weight: bolder;
    }
  
    .smallTitle {
      position: absolute;
      font-size: 1em;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(243, 241, 241);
      font-family: "Sura", serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .dupli{
      position: absolute;
      width: 20%;
      height: auto;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .img {
      position: relative;
      width: 40%;
    }
  
    .list {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .theDis {
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      color: #ebb0b0;
      font-size: 1.5em;
    }
  
    .short {
      color: aliceblue;
      font-family: "Tauri", sans-serif;
      font-weight: 50;
      font-style: normal;
      font-size: 0.8em;
    }
  
    li a {
      color: rgb(235, 234, 182);
      font-family: "Tauri", sans-serif;
      font-weight: 50;
      font-style: normal;
      font-size: 0.8em;
      text-decoration: none;
      text-align: justify;
    }
  
    .list li{
      position: relative;
      cursor: pointer;
      padding-bottom: 5px;
    }
  
    .list li::marker{
      color: rgb(235, 234, 234);
    }
  
    .list li::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px; 
      background-color: rgb(255, 255, 255); 
      transition: width 0.3s ease; 
    }
  
    .list li:hover::after {
      left: 20px;
      width: 50px;
    }
   
    .titleCom {
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      color: #ebb0b0;
      font-size: 1.5em;
    }
  
    .comments {
      position: absolute;
      top: 200%;
      left: 52%;
      transform: translate(-50%, -50%);
    }
  
   .coms1 {
    font-style: italic;
    color: rgb(185, 185, 185);
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-size: 0.6em;
   }
  
   .coms1 {
    border-left: 3px solid #ffffff;
    padding-left: 10px;
   }
  
   .coms2 {
    text-align: justify;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-family: "Tauri", sans-serif;
    font-weight: normal;
    font-size: 0.6em;
   }
  
   .exam1 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #b1eedc;
    font-size: 1em;
   }
  
   .code-wrapper {
    position: relative;
  }
  
  .code-wrapper pre {
    background-color: #202020;
    color: white;
    padding: 8px 10px;
    border-radius: 0 0 5px 5px;
  }
  
  #copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 7px;
    background-color: #1f4287;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 0;
  }
  
  #copy-button:hover {
    background-color: #1f428790;
  }
  
  .code-wrapper:hover #copy-button {
    opacity: 1;
  }
  
  #copy-success {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #adb4c0;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 5px;
    display: none;
  }
  
  #copy-success.show-message {
    display: inline-block;
  }
  
  .hljs {
    background-color: transparent;
  }
  
  .duplicate {
    position: absolute;
    top: 380%;
    left: 51%;
    transform: translate(-50%, -50%);
  }
  
  .titleDu {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #ebb0b0;
    font-size: 1.7em;
  }
  
  .dupli1 {
    font-style: italic;
    color: rgb(185, 185, 185);
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-size: 1.1em;
  }
  
  .dupli1 {
    border-left: 3px solid #ffffff;
    padding-left: 10px;
  }
  
  .lazy {
    position: absolute;
    top: 555%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .data {
    position: absolute;
    top: 735%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
  
  .dead {
    position: absolute;
    top: 945%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  
  .general {
    position: absolute;
    top: 1210%;
    left: 52%;
    transform: translate(-50%, -50%);
  }

  }
  
  @media (max-width: 425px){
    .topnav .codes{
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
      font-family: "Balsamiq Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .topnav .active {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
      font-family: "Balsamiq Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .header{
      position: relative;
    }
  
    .title {
      position: absolute;
      font-size: 2.5em;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(207, 207, 207);
      font-family: "Play", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-weight: bolder;
    }
  
    .smallTitle {
      position: absolute;
      font-size: 1.5em;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(243, 241, 241);
      font-family: "Sura", serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .dupli{
      position: absolute;
      width: 50%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .img {
      position: relative;
      width: 30%;
    }
  
    .list {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .theDis {
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      color: #ebb0b0;
      font-size: 1.5em;
    }
  
    .short {
      color: aliceblue;
      font-family: "Tauri", sans-serif;
      font-weight: 50;
      font-style: normal;
      font-size: 0.7em;
    }
  
    li a {
      color: rgb(235, 234, 182);
      font-family: "Tauri", sans-serif;
      font-weight: 50;
      font-style: normal;
      font-size: 0.7em;
      text-decoration: none;
      text-align: justify;
    }
  
    .list li{
      position: relative;
      cursor: pointer;
      padding-bottom: 5px;
    }
  
    .list li::marker{
      color: rgb(235, 234, 234);
    }
  
    .list li::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px; 
      background-color: rgb(255, 255, 255); 
      transition: width 0.3s ease; 
    }
  
    .list li:hover::after {
      left: 20px;
      width: 80px;
    }
   
    .titleCom {
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      color: #ebb0b0;
      font-size: 1.7em;
    }
  
   .coms1 {
    font-style: italic;
    color: rgb(185, 185, 185);
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-size: 0.7em;
   }
  
   .coms1 {
    border-left: 3px solid #ffffff;
    padding-left: 10px;
   }
  
   .coms2 {
    text-align: justify;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-family: "Tauri", sans-serif;
    font-weight: normal;
    font-size: 0.7em;
   }
  
   .exam1 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #b1eedc;
    font-size: 1.3em;
   }
  
   .code-wrapper {
    position: relative;
  }
  
  .code-wrapper pre {
    border-radius: 40px;
    background-color: #202020;
    color: white;
    padding: 8px 10px;
    border-radius: 0 0 5px 5px;
  }
  
  #copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 7px;
    background-color: #1f4287;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 0;
  }
  
  #copy-button:hover {
    background-color: #1f428790;
  }
  
  .code-wrapper:hover #copy-button {
    opacity: 1;
  }
  
  #copy-success {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #adb4c0;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 5px;
    display: none;
  }
  
  #copy-success.show-message {
    display: inline-block;
  }
  
  .hljs {
    background-color: transparent;
  }
  
  .titleDu {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #ebb0b0;
    font-size: 1.7em;
  }
  
  .dupli1 {
    font-style: italic;
    color: rgb(185, 185, 185);
    font-family: "Tauri", sans-serif;
    font-weight: 50;
    font-size: 1.1em;
  }
  
  .dupli1 {
    border-left: 3px solid #ffffff;
    padding-left: 10px;
  }

  .comments {
    position: absolute;
    top: 175%;
    left: 78%;
    transform: translate(-50%, -50%);
  }
  
  .duplicate {
    position: absolute;
    top: 345%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .lazy {
    position: absolute;
    top:  525%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  
  .data {
    position: absolute;
    top: 705%;
    left: 105%;
    transform: translate(-50%, -50%);
  }
  
  .dead {
    position: absolute;
    top: 905%;
    left: 93%;
    transform: translate(-50%, -50%);
  }
  
  .general {
    position: absolute;
    top: 1165%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  }